.sc-page-canvas {
  font-family: Helvetica,Arial,sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 600px) {
  .sc-page-canvas {
    max-width: 800px;
    margin: auto;
  }
}

.sc-page-title {
  font-weight: 500;
  font-size: 50px;
  color: #5778d8;
}

.sc-search-bar {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.sc-search-icon {
  font-size: 20px;
  flex-basis: 20px;
}

.sc-search-input {
  min-width: 25%;
  flex-grow: 1;
  line-height: 30px;
  padding: 5px 10px;
}

.sc-cards-container {
  margin-top: 20px;
  min-height: 400px;
}

.sc-card {
  position: relative;
  padding: 20px 40px 40px 60px;
  border: 1px #dddddd solid;
  box-shadow: 1px 2px 5px #999;
}
.sc-card + .sc-card {
  margin-top: 15px;
}

.sc-card-button {
  position: absolute;
  top: 16px;
  border: 0px;
  height: 50px;
  width: 70px;
  background: none;
}

.sc-card-button img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.sc-card-close {
  right: 12px;
}

.sc-card-copy {
  right: 80px;
}

.sc-card-header {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.sc-card-title {
  /* display: inline-block; */
  font-size: 28px;
}

.sc-card-freq {
  /* display: inline-block; */
  color: #999;
}

.sc-card-details {
  /* display: inline-block; */
  font-style: italic;
  color: #999;
  font-size: 14px;
}

.sc-card-body {
  font-size: 14px;
}

@media only screen and (max-device-width: 600px) {
  .sc-search-input {
    line-height: 60px;
    font-size: 40px;
  }
  .sc-card-title {
    font-size: 42px;
  }
  .sc-card-freq {
    font-size: 42px;
  }
  .sc-card-details {
    font-size: 36px;
  }
  .sc-card-body {
    font-size: 28px;
  }
}
